@inherits UmbracoViewPage<UCommerce.EntitiesV2.OrderAddress>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    <div class="row"><span> No validation added, all fields must be filled to continue</span></div>
    @using (Html.BeginForm("ContinueCheckout", "Basket"))
    {
        <div class="form-group">
            <label>Address Name</label> @Html.TextBoxFor(a => a.AddressName, new {@class = "form-control"})
            <label>First Name</label> @Html.TextBoxFor(a => a.FirstName, new {@class = "form-control"})
            <label>Last Name</label> @Html.TextBoxFor(a => a.LastName, new {@class = "form-control"})
            <label>E-mail Name</label> @Html.TextBoxFor(a => a.EmailAddress, new {@class = "form-control"})
            <label>Phone Number</label> @Html.TextBoxFor(a => a.PhoneNumber, new {@class = "form-control"})
            <label>Mobile Phone Number</label> @Html.TextBoxFor(a => a.MobilePhoneNumber, new {@class = "form-control"})
            <label>Company Name</label> @Html.TextBoxFor(a => a.CompanyName, new {@class = "form-control"})
            <label>Address Line1</label> @Html.TextBoxFor(a => a.Line1, new {@class = "form-control"})
            <label>Address Line2</label> @Html.TextBoxFor(a => a.Line2, new {@class = "form-control"})
            <label>Postal Code</label> @Html.TextBoxFor(a => a.PostalCode, new {@class = "form-control"})
            <label>City</label> @Html.TextBoxFor(a => a.City, new {@class = "form-control"})
        </div>
        <input class="btn btn-default" type="submit" value="Continue"/>
    }
</div>